* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(./images/background.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 1em;
}

/* Styling Navbar */
nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: rgba(4, 9, 30, 0.7);
}
.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
nav img {
  width: 200px;
}
nav h1 {
  color: white;
  font-size: 20px;
  margin-left: 10px;
}

.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 5px;
  background: rgba(168, 4, 209, 0.459);
  display: block;
  transition: 0.5s;
  margin: auto;
}
.nav-links ul li:hover::after {
  width: 100%;
}

.container {
  margin: auto;
  width: 25%;
  padding: 10px;
  border: 1px solid #f2f2f2;
  box-shadow: 1px 1px 4px 0px rgba(176, 176, 176, 1);
  background-color: rgba(4, 9, 30, 0.7);
}
.header {
  background-color: #260a52;
  padding: 10px;
  color: #fff;
  text-align: center;
}
table {
  width: 100%;
}
td {
  width: 25%;
}
.result {
  font-size: 24px;
  padding: 16px 5px;
  font-weight: 700;
  text-align: right;
  width: 100%;
  border: none;
  background-color: #f8f8f8;
}
.global {
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  background-color: #f2f2f2;
  width: 100%;
}

.first-row {
  padding: 7px;
}
.plus {
  height: 105px;
}
.green {
  background-color: blue;
}
.red {
  background-color: red;
}
.grey {
  background-color: #f2f2f2;
}
.white-text {
  color: #fff;
}
